{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<!-- Page Header-->
<!-- Getting correct image URL from database-->
<header class="masthead" style="background-image: url({{ post_data.img_url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Setting post data -->
                <div class="post-heading">
                    <h1>{{ post_data.title }}</h1>
                    <h2 class="subheading">{{ post_data.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post_data.author.name }}</a>
                        on {{ post_data.date }} 
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 overflow-visible">
                <!-- Post body -->
                <p>{{ post_data.body | safe }}</p>
                {% if current_user.id in ath_users: %}
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary text-uppercase" href="{{ url_for('edit_post', post_id=post_data.id) }}">Edit this post</a>
                    </div>
                {% endif %}
                <hr>
                {% if current_user.is_authenticated: %}
                    {{ wtf.quick_form(form, novalidate=True, button_map={"submit":"primary"}) }}
                {% else: %}
                    <div class="text-uppercase content">
                        <a href="{{ url_for('login') }}"><p>Log in to post a comment here.</p></a>
                    </div>
                {% endif %}
                <hr>
                <div class="comment-section">
                    {% for comment in post_data.child_comments: %}
                        <div class="comment">
                            <img class="comment-icon" src="{{ comment.comment_author.name | gravatar }}" alt="Profile icon">
                            <h3 class="comment-author">{{ comment.comment_author.name }}</h3>
                            {{ comment.text | safe}}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>
{{ ckeditor.load() }}
<!-- Footer-->
{% include "footer.html" %}